/*------------- COLORS
- Primary - $color-primary 
- Tints #ffffe6
- Shades - #FFFFEC
- seconday color  - #FFD700 
- thirdary color - #000000
*/

// Website Variables
$color-primary: #ff0025;
$color-secondary: #ffd700;
$color-thirdary: #000000;
$color-btn: #4a7023;
$color-fourthdary: #daa520;
$color-fifthdary: #fcfcfc;

/*-------------linear gradient */
/* linear-gradient(rgba($color-thirdary, 0.5), rgba($color-thirdary, 0.5) */

/* BASIC SET-UP */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* doesnt respect font-size setting */
  /* font-size: 10px; */
  /* Percentage of users font-size setting */
  font-size: 62.5%;
}

body {
  font-family: 'Permanent Marker', cursive;
}
h2 {
  font-size: 6rem;
}
/* ******************************************** */
/* -------------Reusable content */
/* ******************************************** */
// container
.container {
  /* less than 1200px */
  max-width: 120rem;
  margin: 0 auto;
}

/* Grid */
.grid {
  display: grid;
  gap: 9.6rem;
  &--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  &--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

// buttons
@mixin primary-button-colors {
  color: $color-fifthdary;
  background-color: $color-primary;
}

.btn {
  &:link,
  &hover {
    @include primary-button-colors;
    padding: 1.6rem 2.6rem;
    border-radius: 12px;
    transition: all 0.6s;
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
  }
  &--outline {
    margin-left: 1rem;
  }
  &--full {
    &:link,
    &:visited {
      @include primary-button-colors;
    }
  }
  &--full {
    &:hover,
    &:active {
      background-color: $color-secondary;
      color: $color-thirdary;
    }
  }
  &--outline {
    &:link,
    &:visited {
      background-color: $color-fifthdary;
      color: $color-thirdary;
    }
  }
  &--outline {
    &:hover,
    &:active {
      background-color: $color-secondary;
      /* border: 3px solid $color-fifthdary; */
      /* Trick to add border inside */
      /* box-shadow: 0 0 0 3px; */
    }
  }
}

.margin-right-sm {
  margin-right: 7.6rem !important;
}

/* ***************************************** */
/* Navigation */
/* ***************************************** */
.main {
  &__nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer;
  }
}
.main__nav_logo {
  margin-top: 1rem;
  background-color: $color-fifthdary;
  height: 8rem;
  border-radius: 6rem;
}

.main__nav-link {
  display: inline-block;
  position: relative;
  color: $color-fourthdary;
}
.main__nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $color-primary;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}
.main__nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

.main__nav-link {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-fifthdary;
    font-weight: 800;
    font-size: 2.5rem;
    transition: all 0.3s;
    display: inline-block;
  }
}
.main__nav-link {
  &:hover,
  &:active {
    color: $color-secondary;
  }
}

.main__nav-catering-btn {
  text-decoration: none;
}
.main__nav-catering-btn.nav--cta {
  &:link,
  &:visited {
    border-radius: 0.9rem;
    padding: 1.6rem 2.4rem;
    color: $color-fifthdary;
    background-color: $color-btn;
  }
}
.main__nav-catering-btn.nav--cta {
  &:hover,
  &:active {
    background-color: $color-fourthdary;
  }
}

.main__nav-catering-btn.nav--cta:after {
  top: 0.5rem;
  bottom: 0.5rem;
}

/* ******************************************** */
/* Main Header */
/* ******************************************** */

.main {
  background-image: linear-gradient(
      rgba($color-thirdary, 0.5),
      rgba($color-thirdary, 0.5)
    ),
    url('../img/main-hero-image.webp');
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: 100%;
  background-size: cover;
  padding-bottom: 155px;
}

.main__hero-img img {
  height: 40rem;
  max-width: 100%;
  margin-top: 3.2rem;
  border-radius: 2rem;
}
.main__hero-text {
  margin-right: 10rem;
  font-size: 3.5rem;
}

.main__hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $color-fifthdary;
}
.sub__hero-description {
  display: flex;
  font-size: 40px;
  line-height: 1px;
  letter-spacing: 0.3rem;
  color: $color-fifthdary;
}
.main__hero-description {
  font-size: 60px;
  letter-spacing: 3px;
}

.main__hero-description span {
  color: $color-primary;
  display: inline-block;
}

.main__hero-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  color: $color-fifthdary;
}

/******************************************/
/* Info section */
/* ******************************************** */

.info__section {
  max-width: 130rem;
  /* Centering the layout */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}
.section-info {
  background-color: $color-fifthdary;
  padding: 9.6rem 0;
}

.info__text-box h1 {
  font-size: 5rem;
}
/* Hero Image */
.info-img {
  width: 100%;
  border-radius: 2px;
}

.info__heading-primary {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.05;
  color: $color-thirdary;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.info__description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.info__description span {
  color: $color-primary;
}

.info__delivered-meals {
  display: flex;
  justify-content: center;
  margin-right: 75rem;
  align-items: center;
  gap: 1.6rem;
}

.info__delivered-imgs {
  display: flex;
}

.info__delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid $color-fifthdary;
}

.info__delivered__imgs img:last-child {
  margin: 0;
}
.info__delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.info__delivered-text span {
  color: $color-primary;
}

/* ***************************************** */
/* Specials Description */
/* ***************************************** */
.specials {
  padding-bottom: 60px;
}
.specials__description-header {
  text-align: center;
  margin-bottom: 7.5rem;
  padding-top: 8rem;
}
.specials__description-header span {
  color: $color-primary;
}
.specials__section img {
  height: auto;
  max-width: 100%;
  border-radius: 2px;
  margin-bottom: 50px;
}
.specials__description p {
  font-size: 2rem;
}
.specials__paragraph p {
  font-size: 1.5rem;
  list-style: none;
}

.specials__section {
  max-width: 130rem;
}

.specials__btn {
  margin-top: 3rem;
  margin-left: 10rem;
}

/* ***************************************** */
/* Menu Description */
/* ***************************************** */

.menu__header {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4rem;
  padding-top: 5rem;
}
.menu__header span {
  color: $color-primary;
}

.menu__section {
  margin-bottom: 3rem;
}

.menu__img {
  margin-top: 10rem;
}

.menu__img img,
.menu__secondary-img img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.menu__paragraph {
  font-size: 2rem;
  margin-top: 6rem;
}
.menu__display-button a {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.hover .menu__secondary-img img {
  margin-bottom: 10rem;
}
/* ***************************************** */
/* Patio Description */
/* ***************************************** */

.patio {
  background-image: linear-gradient(
      rgba($color-thirdary, 0.7),
      rgba($color-thirdary, 0.7)
    ),
    url('../img/patio-dining-2.jpg');
  background-position: right 20% bottom 60%;
  background-repeat: no-repeat;
  width: 100%;
  height: 80rem;
  background-size: cover;
  border-radius: 2rem;
}
.patio__header {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 7.5rem;
  padding-top: 4rem;
}
.patio__header span {
  color: $color-primary;
}
.patio__header span:last-child {
  color: $color-fifthdary;
}
.patio__img img {
  width: 100%;
  height: auto;
  margin-left: 2rem;
  border-radius: 2rem;
}
.patio__description p {
  color: $color-fifthdary;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.patio__button {
  margin-top: 4rem;
}
/* ***************************************** */
/* Carousel  */
/* ***************************************** */
.carousel__header {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 8rem;
}
.carousel__header span {
  color: $color-primary;
}

.carousel-cell {
  width: 100%; /* full width */
  height: 100%; /* height of carousel */
  margin-right: 10px;
  text-align: center;
}
.carousel-cell img {
  border-radius: 1.5rem;
  width: 70%;
  height: auto;
}
.carousel-cell p {
  font-size: 30rem;
}

.flickity-viewport {
  height: 570px;
}

/* ***************************************** */
/*              Form */
/* ***************************************** */
.form {
  background-image: linear-gradient(
      rgba($color-thirdary, 0.7),
      rgba($color-thirdary, 0.7)
    ),
    url('../img/patio-dining-4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80rem;
  width: 100%;
  margin-top: 5rem;
  position: relative;
}

.form__h2--modifier {
  font-size: 3rem;
  margin-left: 20rem;
  padding-top: 4rem;
  color: $color-fifthdary;
}

.email__header--modifier {
  font-size: 3rem;
}

.email__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.email__box span {
  color: $color-primary;
}
.form .email__box {
  width: 400px;
  padding: 40px;
  background: rgba($color-thirdary, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba($color-thirdary, 0.6);
  border-radius: 10px;
}

.email__box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: $color-fifthdary;
  text-align: center;
}

.email__box .user__box {
  position: relative;
}

.email__box .user__box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: $color-fifthdary;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid $color-fifthdary;
  outline: none;
  background: transparent;
}
.email__box .user__box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: $color-fifthdary;
  pointer-events: none;
  transition: 0.5s;
}

.email__box .user__box input:focus ~ label,
.email__box .user__box input:valid ~ label {
  top: -20px;
  left: 0;
  color: $color-secondary;
  font-size: 12px;
}
.form__group textarea {
  width: 320px;
}

.submit__button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: $color-fourthdary;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: transparent;
  font-family: 'Permanent Marker';
}

.submit__button:hover {
  background: $color-fourthdary;
  color: $color-fifthdary;
  border-radius: 5px;
  box-shadow: 0 0 5px $color-fourthdary, 0 0 25px $color-fourthdary,
    0 0 50px $color-fourthdary, 0 0 100px $color-fourthdary;
}

.submit__button span {
  position: absolute;
  display: block;
}

.submit__button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, $color-fourthdary);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.submit__button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, $color-fourthdary);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.submit__button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, $color-fourthdary);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.submit__button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, $color-fourthdary);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
/* ***************************************** */
/*              contact-us */
/* ***************************************** */
.contact-us-section {
  background-color: $color-fifthdary;
}
.contact__us-header {
  text-align: center;
  font-size: 6rem;
  padding-top: 5rem;
}
.contact__us-header span {
  color: $color-primary;
}
.contact__us {
  height: 40rem;
  width: 100%;
}
.contact__us-address,
.working__hours {
  margin-top: 5rem;
  text-align: center;
}
.contact__us h2 {
  font-size: 3rem;
  margin-left: 8rem;
  margin-top: 5rem;
}
.contact__us-address ul li {
  font-size: 2rem;
  margin-left: 8rem;
  margin-top: 3rem;
  list-style: none;
}
.working__hours ul li {
  font-size: 2rem;
  margin-left: 8rem;
  margin-top: 3rem;
  list-style: none;
}
/* ***************************************** */
/*             footer */
/* ***************************************** */
footer {
  background-color: $color-fourthdary;
  padding: 15px 0 15px 0;
}
.footer__paragraph {
  text-align: center;
  font-size: 2rem;
}
/* ---------------------------------------------------------------------- */
/* ***************************************** */
/*             About-us */
/* ***************************************** */
.about-us__body {
  font-family: 'Permanent Marker', cursive;
}
.about-us__section {
  background-image: linear-gradient(
      rgba($color-thirdary, 0.7),
      rgba($color-thirdary, 0.7)
    ),
    url('../img/patio-dining-4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.about-us__header--modifier {
  font-size: 6rem;
  text-align: center;
  padding-bottom: 4rem;
}
.about-us__header--modifier span {
  color: $color-primary;
}
.about-us__header--modifier span:last-child {
  color: $color-fifthdary;
}
.about-us__img img {
  height: 45rem;
  max-width: 100%;
  border-radius: 0.7rem;
}
.about-us__paragraph p {
  font-size: 2rem;
  padding-bottom: 3rem;
  color: $color-fifthdary;
}
.about-us__paragraph img {
  height: auto;
  max-width: 100%;
  border-radius: 0.7rem;
}
.about-us__paragraph span {
  color: $color-primary;
}
.about-us__back-homescreen-btn {
  margin-top: 5rem;
  text-align: center;
}
