/* BASIC SET-UP */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* doesnt respect font-size setting */
  /* font-size: 10px; */
  /* Percentage of users font-size setting */
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-size: 6rem;
}

/* ******************************************** */
/* -------------Reusable content */
/* ******************************************** */
.container {
  /* less than 1200px */
  max-width: 120rem;
  margin: 0 auto;
}

/* Grid */
.grid {
  display: -ms-grid;
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.submit__button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#daa520));
  background: linear-gradient(180deg, transparent, #daa520);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.submit__button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#daa520));
  background: linear-gradient(270deg, transparent, #daa520);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

body {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  line-height: 1.7;
}

/******************************************/
/* Info section */
/* ******************************************** */
.info {
  background-color: #fcfcfc;
  padding: 9.6rem 0;
}

.info__box {
  max-width: 130rem;
  /* Centering the layout */
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9.6rem;
}

.info__text-box h1 {
  font-size: 5rem;
}

.info__img-box img {
  width: 100%;
  border-radius: 2px;
}

.info__heading-primary {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.05;
  color: #000000;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.info__description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.info__description span {
  color: #ff0025;
}

.info__delivered-meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}

.info__delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fcfcfc;
}

.info:last-child {
  margin: 0;
}

.info__delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.info span {
  color: #ff0025;
  margin-left: 2rem;
}

/* ******************************************** */
/* Main Header */
/* ******************************************** */
.main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/main-hero-image.webp");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/main-hero-image.webp");
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: 100%;
  background-size: cover;
  padding-bottom: 155px;
}

.main__hero-img img {
  height: 40rem;
  max-width: 100%;
  margin-top: 3.2rem;
  border-radius: 2rem;
}

.main__hero-text {
  margin-right: 10rem;
  font-size: 3.5rem;
}

.main__hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fcfcfc;
}

.main__sub-hero-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  line-height: 1px;
  letter-spacing: 0.3rem;
  color: #fcfcfc;
}

.main__hero-description {
  font-size: 60px;
  letter-spacing: 3px;
}

.main__hero-description span {
  color: #ff0025;
  display: inline-block;
}

.main__hero-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
  color: #fcfcfc;
}

/* ***************************************** */
/* Menu Description */
/* ***************************************** */
.menu {
  margin-bottom: 8rem;
}

.menu__header {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4rem;
  padding-top: 5rem;
}

.menu__header span {
  color: #ff0025;
}

.menu__img {
  margin-top: 10rem;
}

.menu__img img,
.menu__secondary-img img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}

.menu__food-paragraph {
  font-size: 2rem;
  margin-top: 6rem;
}

.menu__display-button a {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.menu__secondary-img img {
  margin-bottom: 10rem;
}

/* ***************************************** */
/* Patio Description */
/* ***************************************** */
.patio {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/patio-dining-2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/patio-dining-2.jpg");
  background-position: right 20% bottom 60%;
  background-repeat: no-repeat;
  width: 100%;
  height: 80rem;
  background-size: cover;
  border-radius: 2rem;
}

.patio__header {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 7.5rem;
  padding-top: 4rem;
}

.patio__header span {
  color: #ff0025;
}

.patio__header span:last-child {
  color: #fcfcfc;
}

.patio__display-img img {
  width: 100%;
  height: auto;
  margin-left: 2rem;
  border-radius: 2rem;
}

.patio__display-img-description p {
  color: #fcfcfc;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.patio__reserve-button {
  margin-top: 4rem;
}

/* ***************************************** */
/*              contact-us */
/* ***************************************** */
.contact-us-section {
  background-color: #fcfcfc;
}

.contact__us-header {
  text-align: center;
  font-size: 6rem;
  padding-top: 5rem;
}

.contact__us-header span {
  color: #ff0025;
}

.contact__us {
  height: 40rem;
  width: 100%;
}

.contact__us-address,
.working__hours {
  margin-top: 5rem;
  text-align: center;
}

.contact__us h2 {
  font-size: 3rem;
  margin-left: 8rem;
  margin-top: 5rem;
}

.contact__us-address ul li {
  font-size: 2rem;
  margin-left: 8rem;
  margin-top: 3rem;
  list-style: none;
}

.working__hours ul li {
  font-size: 2rem;
  margin-left: 8rem;
  margin-top: 3rem;
  list-style: none;
}

/* ***************************************** */
/*             footer */
/* ***************************************** */
footer {
  background-color: #daa520;
  padding: 15px 0 15px 0;
}

.footer__paragraph {
  text-align: center;
  font-size: 2rem;
}

/* ***************************************** */
/* Navigation */
/* ***************************************** */
.main__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  cursor: pointer;
}

.main__nav_logo {
  margin-top: 1rem;
  background-color: #fcfcfc;
  height: 8rem;
  border-radius: 6rem;
}

.main__nav-link {
  display: inline-block;
  position: relative;
  color: #daa520;
}

.main__nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff0025;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.main__nav-link:link,
.main :visited {
  text-decoration: none;
  color: #fcfcfc;
  font-size: 2.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-top: 5rem;
}

.main__nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.main__nav-link:hover, .main:after {
  color: #ffd700;
}

.main__nav-catering-btn {
  text-decoration: none;
}

.main__nav-catering-btn.nav--cta:link,
.main :visited {
  border-radius: 0.9rem;
  padding: 1.6rem 2.4rem;
  color: #fcfcfc;
  background-color: #4a7023;
}

.main__nav-catering-btn.nav--cta:hover,
.main :active {
  background-color: #daa520;
}

.main__nav-catering-btn.nav--cta:after {
  top: 0.5rem;
  bottom: 0.5rem;
}

.btn:link, .btnhover {
  color: #fcfcfc;
  background-color: #ff0025;
  padding: 1.6rem 2.6rem;
  border-radius: 12px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
}

.btn--outline {
  margin-left: 1rem;
}

.btn--full:link, .btn--full:visited {
  color: #fcfcfc;
  background-color: #ff0025;
}

.btn--full:hover, .btn--full:active {
  background-color: #ffd700;
  color: #000000;
}

.btn--outline:link, .btn--outline:visited {
  background-color: #fcfcfc;
  color: #000000;
}

.btn--outline:hover, .btn--outline:active {
  background-color: #ffd700;
  /* border: 3px solid $color-fifthdary; */
  /* Trick to add border inside */
  /* box-shadow: 0 0 0 3px; */
}

.margin-right-sm {
  margin-right: 7.6rem !important;
}

/* ***************************************** */
/* Specials Description */
/* ***************************************** */
.specials {
  padding-bottom: 60px;
}

.specials__description-header {
  text-align: center;
  margin-bottom: 7.5rem;
  padding-top: 8rem;
}

.specials span {
  color: #ff0025;
}

.specials__section {
  max-width: 130rem;
}

.specials__section img {
  height: auto;
  max-width: 100%;
  border-radius: 2px;
  margin-bottom: 50px;
}

.specials__description p {
  font-size: 2rem;
}

.specials__food-paragraph p {
  font-size: 1.5rem;
  list-style: none;
}

.specials__btn {
  margin-top: 3rem;
  margin-left: 10rem;
}

/* ***************************************** */
/* Carousel  */
/* ***************************************** */
.carousel__header {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 8rem;
}

.carousel__header span {
  color: #ff0025;
}

.carousel__cell {
  width: 100%;
  /* full width */
  height: 100%;
  /* height of carousel */
  margin-right: 10px;
  text-align: center;
}

.carousel__cell img {
  border-radius: 1.5rem;
  width: 70%;
  height: auto;
}

.carousel p {
  font-size: 3rem;
}

.flickity-viewport {
  height: 570px;
}

/* ***************************************** */
/*              Form */
/* ***************************************** */
.form {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/patio-dining-4.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/patio-dining-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80rem;
  width: 100%;
  margin-top: 5rem;
  position: relative;
}

.form__h2--modifier {
  font-size: 3rem;
  margin-left: 20rem;
  padding-top: 4rem;
  color: #fcfcfc;
}

.email__header--modifier {
  font-size: 3rem;
}

.email__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.email__box span {
  color: #ff0025;
}

.form .email__box {
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.email__box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fcfcfc;
  text-align: center;
}

.email__box .user__box {
  position: relative;
}

.email__box .user__box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fcfcfc;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fcfcfc;
  outline: none;
  background: transparent;
}

.email__box .user__box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fcfcfc;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.email__box .user__box input:focus ~ label,
.email__box .user__box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ffd700;
  font-size: 12px;
}

.form__group textarea {
  width: 320px;
}

.submit__button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #daa520;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: transparent;
  font-family: 'Permanent Marker';
}

.submit__button:hover {
  background: #daa520;
  color: #fcfcfc;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #daa520, 0 0 25px #daa520, 0 0 50px #daa520, 0 0 100px #daa520;
          box-shadow: 0 0 5px #daa520, 0 0 25px #daa520, 0 0 50px #daa520, 0 0 100px #daa520;
}

.submit__button span {
  position: absolute;
  display: block;
}

.submit__button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#daa520));
  background: linear-gradient(90deg, transparent, #daa520);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

.submit__button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#daa520));
  background: linear-gradient(360deg, transparent, #daa520);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

/* ***************************************** */
/*             About-us */
/* ***************************************** */
.about-us__body {
  font-family: 'Permanent Marker', cursive;
}

.about-us__section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/patio-dining-4.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/patio-dining-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.about-us__header--modifier {
  font-size: 6rem;
  text-align: center;
  padding-bottom: 4rem;
}

.about-us__header--modifier span {
  color: #ff0025;
}

.about-us__header--modifier span:last-child {
  color: #fcfcfc;
}

.about-us__img img {
  height: 45rem;
  max-width: 100%;
  border-radius: 0.7rem;
}

.about-us__paragraph p {
  font-size: 2rem;
  padding-bottom: 3rem;
  color: #fcfcfc;
}

.about-us__paragraph img {
  height: auto;
  max-width: 100%;
  border-radius: 0.7rem;
}

.about-us__paragraph span {
  color: #ff0025;
}

.about-us__back-homescreen-btn {
  margin-top: 5rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */