/* ***************************************** */
/*             footer */
/* ***************************************** */
footer {
  background-color: $color-fourthdary;
  padding: 15px 0 15px 0;
}
.footer__paragraph {
  text-align: center;
  font-size: 2rem;
}
