
/******************************************/
/* Info section */
/* ******************************************** */
.info {
  background-color: $color-fifthdary;
  padding: 9.6rem 0;
  &__box {
    max-width: 130rem;
    /* Centering the layout */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 9.6rem;
  }
  &__text-box h1 {
    font-size: 5rem;
  }
  &__img-box img {
    width: 100%;
    border-radius: 2px;
  }
  &__heading-primary {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.05;
    color: $color-thirdary;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
  }
  &__description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
    span {
      color: $color-primary;
    }
  }
  &__delivered-meals {
    display: flex;
    justify-content: center;
    margin-right: 75rem;
    align-items: center;
    gap: 1.6rem;
  }
  &__delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid $color-fifthdary;
  }
  &:last-child {
    margin: 0;
  }
  &__delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
  }
  span {
    color: $color-primary;
    margin-left: 2rem;
  }
}
